<html>
  <head>
    <title>Salada de frutas</title>

    <%= stylesheet_tag 'about' %>
  </head>

  <body>
    <h1>Sobre</h1>

    <hr>

    <a href="./index.html">Voltar</a>

    <hr>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos corrupti dicta nihil possimus harum, facilis voluptatum sit provident consequatur eum dolores, nisi cum dolor tempora repudiandae, libero quaerat quidem vero.
    </p>

  </body>
</html>