<html>
  <head>
    <title>Salada de frutas</title>
  </head>

  <body>
    <h1>Frutas</h1>

    <ul>
      <% @fruits.each do |fruit| %>
        <li>
          <%= fruit %>
        </li>
      <% end %>
    </ul>
  
  </body>
</html>